<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="cards.css" rel="stylesheet">
</head>

<body>
    <div class="hand hhand-compact active-hand">
        <img class="card" src="cards/AS.svg">
        <img class="card" src="cards/KS.svg">
        <img class="card" src="cards/QS.svg">
        <img class="card" src="cards/JS.svg">
        <img class="card" src="cards/10S.svg">
        <img class="card" src="cards/9H.svg">
        <img class="card" src="cards/3H.svg">
    </div>
</body>

</html>